<%= content_for :title, 'Список потоков' %>

<ul>
  <% @course.group_semesters.by_semester_title(params[:by_semester_title]).flat_map(&:educations).group_by(&:discipline).each do |discipline, educations| %>
    <% if educations.many? %>
      <li>
        <%= discipline.title %>
        <ul>
          <% educations.each do |education| %>
            <li>
              <%= education.group.number %>
              Семестр <%= education.semester.semester.id %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
